div {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

#buttonsBoxLeft {
  width: 100px;
  float: left
}

#buttonsBoxRight {
  width: 100px;
  float: right;
}

#FormRight {
  width: 100px;
  float: right;
}

#canvas {
  width: 390px;
  height: 390px;
}

#FormLeft {
  width: 100px;
  float: left
}

#spin {
  width: 100px;
}

.btn-dark {
  background-color: #673ab7;
  color: white;
  margin-bottom: 10px
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 5px;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}
